.bg-success-v2 {
    background-color: #10C888 ;
}
.bg-success-gradient {    
    background-image: linear-gradient(to right,#10C888 0,#5CE0B8 100%);
}
.bg-warning-v2 {
    background-color: #FF976A;
}
.bg-warning-gradient {
    background-image: linear-gradient(to right,#FF976A 0,#FFC2A4 100%);   
}
.bg-danger-v2 {
    background-color: #FF6275;
}
.bg-danger-gradient {
    background-image: linear-gradient(to right,#FF6275 0,#FF9EAC 100%);
}
.bg-primary-v2 {
    background-color: #00A5A8;
}
.bg-primary-gradient {
    background-image: linear-gradient(to right,#00A5A8 0,#4DCBCD 100%)
}

div h5 {
    /*padding-left: 5px !important;*/
    font-weight: 400 !important;
    font-size: 1.14rem !important;
    margin-bottom: 0.5rem !important;        
    line-height: 1.2 !important;
}
